@import "variables";

@import "normalize";
@import "accessibility";
@import "fonts";
@import "global";
@import "typography";
@import "header";
@import "hamburger";
@import "language-selector";
@import "footer";
@import "buttons";
@import "iframe";
@import "images";
@import "horizontal-rule";
@import "content";
@import "accordion";
@import "blog";
@import "pagination";
@import "breadcrumb";
@import "tables";
@import "shortcodes/card";
@import "shortcodes/columns";
@import "shortcodes/toc";
@import "shortcodes/intro";
@import "shortcodes/youtube-enhanced";



.spacer-5 { height: 5px; }
.spacer-20 { height: 20px; }
.spacer-50 { height: 50px; }

@media (max-width: 1000px) {
  .spacer-5 { height: 2.5px; }
  .spacer-20 { height: 10px; }
  .spacer-50 { height: 25px; }
}