{{- $date := .Date.Format "02 janvier 2006" }}
{{ $monthsFr := dict "January" "janvier" "February" "février" "March" "mars" "April" "avril" "May" "mai" "June" "juin" "July" "juillet" "August" "août" "September" "septembre" "October" "octobre" "November" "novembre" "December" "décembre" }}
{{ $month := index $monthsFr (.Date.Format "January") }}
{{ $day := .Date.Format "02" }}
{{ $year := .Date.Format "2006" }}
{{- $allAuthors := .Site.Data.authors }}
{{- $authorKey := .Params.author }}
{{- $authorData := index $allAuthors $authorKey }}

<div class="blog-item__byline">
  <p>
    {{ if $date }}
      <span class="blog-item__date">{{ $day }} {{ $month }} {{ $year }}</span>
    {{ end }}
    {{ if $authorData }}
      <span class="blog-item__author"
        >{{ i18n "by" | default "by" }}
        {{ if $authorData.twitter }}
          <a
            href="https://www.twitter.com/{{ $authorData.twitter }}"
            title="Visit {{ $authorData.name }} on Twitter"
          >{{ $authorData.name }}</a>
        {{ else }}
          {{ $authorData.name }}
        {{ end }}
        {{ if $authorData.company }}({{ $authorData.company }}){{ end }}
      </span>
    {{ end }}
  </p>
</div>
